<section class="container px-14 py-6">
    <h1 class="font-semibold text-4xl text-darkBlue">Productos</h1>
    <div class="flex justify-between py-6">
        <input type="search" placeholder="buscar" class="border p-2">
       <button routerLink="/createProduct" class="bg-gray-300 p-2 font-medium rounded-lg">Crear Nuevo</button>
    </div>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3" *ngFor="let title of titles">
                    {{ title.name }}
                </th>
                <th scope="col" class="px-6 py-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b" *ngFor="let product of products(); let i = index">
                <th scope="row" class="col-span-4 px-6 py-4 font-light text-gray-900 whitespace-nowrap">
                {{product.code}}
                </th>
                <th scope="row" class="col-span-4 px-6 py-4 font-light text-gray-900 whitespace-nowrap">
                {{product.name}}
                </th>
                <th scope="row" class="col-span-4 px-6 py-4 font-light text-gray-900 whitespace-nowrap">
                {{product.brand.name}}
                    </th>
                <th scope="row" class="col-span-4 px-6 py-4 font-light text-gray-900 whitespace-nowrap">
                {{product.category.name}}
                </th>
                <th scope="row" class="col-span-4 px-6 py-4 font-light text-gray-900 whitespace-nowrap">
                {{product.amount}}
                </th>
                <th scope="row" class="col-span-4 px-6 py-4 font-light text-gray-900 whitespace-nowrap">
                {{product.stock}}
                </th>
                <td scope="col" class="flex px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    <a routerLink='/CrearProducto'><img src="https://makbadxzoirjxbltiuwi.supabase.co/storage/v1/object/public/images/edit.svg"/></a>
                    <a routerLink='/EditarProducto'><img src="https://makbadxzoirjxbltiuwi.supabase.co/storage/v1/object/public/images/trash.svg"/></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</section>