<div class="flex flex-wrap items-center m-4">
    <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md m-2">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Clientes</h5>
      <p class="font-normal text-gray-700 ">{{ clientsCount }}</p>
    </div>
  
    <div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md m-2">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Trabajadores</h5>
      <p class="font-normal text-gray-700 ">{{ workersCount }}</p>
    </div>
  </div>
  