<section class="bg-[#121139] min-h-screen flex items-center justify-center">
<div class="bg-[#464E63] rounded-3xl w-[480px] h-[502px] flex flex-col gap-4 text-center px-8 pt-8 pb-14">
    <div class="grid place-items-center gap-2">
        <img src="https://makbadxzoirjxbltiuwi.supabase.co/storage/v1/object/public/images/login-icon.svg" alt="">
        <h1 class="text-white text-bold text-3xl">Empecemos</h1>
    </div>
    <form action="" class="flex flex-col gap-4">
        <input class="p-4 h-[53px] rounded" type="email" id="input-email" placeholder="Ingrese su correo electronico">
        <input class="p-4 h-[53px] rounded" type="password" id="input-password" placeholder="Ingrese su contraseña">
        <app-button routerLink="/administrador" name="Iniciar Sesión" colorClass="bg-magenta p-4"></app-button>
    </form>
</div>
</section>