<div class="bg-darkBlue">
<app-banner [url]="imageUrl"/>
<app-latest-releases/>
<section class="w-full h-[468px] flex flex-col justify-center items-center text-center bg-lightBlue">
   <div class="container grid gap-3 py-36 px-60">
    <h2 class="text-coral text-5xl">Nuestro Compromiso</h2>
    <p class="text-4xl text-justify text-info">{{contentCompromiso}}</p>
   </div>
</section>
<app-subscription class="flex flex-col justify-center items-center"/>
<app-categories class="flex flex-col justify-center items-center py-[120px] px-[350px]"/>
</div>                                                                                   
