<section class="w-full flex flex-col items-center justify-center gap-4">
    <div class="container px-4 py-[120px] mb-3 grid gap-3">
        <div class="text-white text-center grid gap-4">
            <h2 class="text-5xl">Últimos Lanzamientos</h2>
            <p class="text-lg">Nuevos lanzamientos cada semana</p>
        </div>
        <app-product [products]="products"/>
        <div class="mt-5 text-center">
            <app-button name="Ver más" colorClass="bg-magenta py-4  text-center" additionalClass="w-[360px] rounded-lg text-white"/>
        </div>
    </div>
   
</section>
