<section class="grid grid-flow-col gap-6 justify-center">
    <article *ngFor="let product of products" class="w-[282px] h-auto rounded-3xl shadow-lg overflow-hidden">
      <div class="flex items-center bg-gray-200 justify-center h-[312px]">
        <img [src]="product.image" [alt]="product.name" loading="lazy">
      </div>
      <div class="flex flex-col justify-between p-4 text-sm bg-slate-50 text-[#61677A] gap-4">
        <div class="flex flex-col gap-2">
          <p class="h-[3em] overflow-hidden">{{product.name}}</p> <!-- Altura fija para el nombre del producto -->
          <p>{{product.price}}</p>
        </div>
        <div class="flex flex-col gap-2">
          <app-button name="Ver detalle" colorClass="bg-[#F44E77] h-9 p-0 text-xs rounded-lg"></app-button>
          <app-button name="Agregar al carrito" colorClass="bg-[#7300D8] h-9 text-xs rounded-lg"></app-button>
        </div>
      </div>
    </article>
  </section>
  